{% extends 'base.html' %}

{% block content %}
<form action="{{url_for('index')}}" method = "POST">
    <div class="mb-3">
      <label for="database_name" class="form-label">Database Name</label>
      <input type="text" class="form-control" name="database_name" id="database_name" placeholder="test">
    </div>
    <div class="mb-3">
      <label for="table_name" class="form-label">Table Name</label>
      <input type="text" class="form-control" name="table_name" id="table_name" placeholder="test_table">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}